html {
  font-size: 20px;
}

body {
  font-size: 1rem;
  padding: 0 .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header {
  width: 100%;
  height: 3rem;
}

#header .header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .header_wrap .logo {
  width: 3rem;
  height: 3rem;
}

#header .header_wrap .logo a {
  display: inline-block;
  width: 3rem;
  height: 3rem;
}

#header .header_wrap .logo a img {
  width: 100%;
}

#header .header_wrap .btn-wrap {
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .header_wrap .btn-wrap .menu_btn {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  display: block;
  background: none;
  position: relative;
}

#header .header_wrap .btn-wrap .menu_btn img {
  width: 100%;
}

#header .header_wrap .main_menu {
  position: absolute;
  top: 3rem;
  width: 100%;
  right: -100%;
  display: none;
  z-index: 999;
  background: #fff;
  height: 100vh;
}

#header .header_wrap .main_menu ul {
  width: 100%;
  padding: 1.2rem 1.5rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header .header_wrap .main_menu ul .first_menu {
  width: 100%;
  padding: 1rem 0 15px 5px;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  border-bottom: 1px solid #e1e1e1;
}

#header .header_wrap .main_menu ul .first_menu:before {
  background: url(../img/bg_ico_totalmenu.png) no-repeat 0 0/cover;
  content: "";
  display: block;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  width: .8rem;
  height: 0.5rem;
  cursor: pointer;
}

#header .header_wrap .main_menu ul .first_menu a {
  display: block;
}

#header .header_wrap .main_menu ul .first_menu .twoD {
  overflow: hidden;
  padding: 14px 0 43px;
  display: none;
}

#header .header_wrap .main_menu ul .first_menu .twoD li {
  float: left;
  width: 50%;
  font-size: 1rem;
  font-weight: normal;
  padding: .8rem 0;
}

#header .header_wrap .main_menu .login_btn {
  background: #ffbc0d;
  height: 3.5rem;
  line-height: 3.5rem;
  color: #292929;
  display: block;
  text-align: center;
  font-weight: bold;
}

#header .header_wrap .main_menu .logged {
  font-size: .8rem;
  line-height: 3rem;
  display: inline-block;
  text-align: center;
  padding-left: 4rem;
}

#header .header_wrap .main_menu .logout {
  font-size: .8rem;
  line-height: 3rem;
  display: inline-block;
  text-align: center;
  padding-left: 2rem;
}

#header .header_wrap .main_menu .logout::before {
  content: "|";
  display: inline-block;
  margin-right: 2rem;
}

#header .header_wrap .close_btn {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  display: block;
  background: none;
  position: relative;
  display: none;
}

#header .header_wrap .close_btn img {
  width: 100%;
}

.member {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.member h1 {
  font-size: 1.7rem;
  text-align: center;
  padding: 5rem 0;
}

.member .form {
  width: 17rem;
  overflow: hidden;
}

.member .form .col1 {
  float: left;
  margin-top: 4px;
  font-size: .7rem;
  width: 5rem;
}

.member .form .col2 {
  float: left;
  font-size: .7rem;
}

.member .form .col2 input {
  width: 7rem;
  padding: .2rem;
  margin-bottom: .7rem;
  border: 1px solid #e1e1e1;
}

.member .form .col3 {
  float: left;
  margin-left: .5rem;
}

.member .form .col3 .checkBtn {
  display: block;
  width: 3rem;
  height: 1.5rem;
  background-color: #ffbc0d;
  border-radius: 3rem;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5rem;
}

.member .email .col1 {
  float: left;
  margin-top: 4px;
  font-size: .7rem;
  width: 5rem;
}

.member .email .col2 {
  float: left;
}

.member .email .col2 input {
  width: 5rem;
  padding: .2rem;
  margin-bottom: .7rem;
  border: 1px solid #e1e1e1;
}

.member .email .col3 {
  float: left;
}

.member .email .col3 .checkBtn {
  display: block;
  width: 3rem;
  height: 1.5rem;
  background-color: #ffbc0d;
  border-radius: 3rem;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5rem;
}

.member .member_btn {
  width: 15rem;
  margin: 1rem auto;
}

.member .member_btn a {
  width: 15rem;
  height: 3rem;
  line-height: 3rem;
  display: block;
  background-color: #ffbc0d;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}
/*# sourceMappingURL=style_member.css.map */